.container {
	width: 98vw;
	margin: 0 auto;
	height: 100vh;
}

// NAVIGATION

.nav1 {
	flex-grow: 100%;

	display: flex;

	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20rem;
	padding-top: 1rem;
}
ul {
	display: flex;
	align-items: center;
}

ul li {
	margin-right: 2rem;
}
.ul-top {
	width: 100%;
}
.ul-top li:nth-of-type(3) {
	margin-left: auto;
}

// NAV INITIAL
.green-circle {
	display: flex;

	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;

	background: #455a64;
	border-radius: 50%;
	padding: 1rem;
	color: white;
	font-family: "Roboto", sans-serif;
}
// .initial {
// 	font-size: 2rem;
// }
.richard {
	border-radius: 50%;
	width: 3.5rem;
}
// SEARCH AREA
.search-area {
	width: 100%;
	// border: red 2px solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.search-wrapper {
	width: 100%;
	max-width: 600px;
	// border: solid green 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.g-logo {
	width: 272px;
	margin-bottom: 2.3rem;
}

.box {
	width: 100%;
	max-width: 582px;
	min-width: 358px;
	height: 44px;
	// background: chartreuse;
	border-radius: 35px;
	border: solid 1px rgba(118, 118, 118, 0.315);
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
}
#search-box {
	width: 85%;
	max-width: 555px;
	min-width: 358px;
	height: 30px;

	border: none;
	outline: none;
}

.search-x {
	width: 3rem;
	border-right: solid 1px rgba(118, 118, 118, 0.315);
	margin-right: 1rem;
}
.search-mic {
	width: 3rem;
	margin-right: 1.5rem;
}
.box:hover {
	box-shadow: 1px 1px 4px 0px rgba(111, 113, 117, 0.158),
		2px 2px 7px 0px rgba(111, 113, 117, 0.144);
}
.fa-search {
	left: 0px;
	top: 0px;
	padding: 10px;
	font-size: 1.6rem;
	color: #777;
}
//BUTTONS
.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn {
	width: 142.5px;
	height: 36px;
	background: #f8f9fa;
	border-radius: 4px;
	margin: 29px 4px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #f8f9fa;
	color: #3c4043;
}
.btn:hover {
	// box-shadow: 0px 1px 0px 0px rgba(111, 113, 117, 0.158);
	border: 1px solid #d3d3d3;
	border-bottom: 2px solid #d3d3d3;
}

//  FOOTER
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;

	background: #f2f2f2;
	height: 47px;
	// border: red 2px solid;
	display: flex;

	align-items: center;
	justify-content: center;
}
.nav2 {
	width: 100%;

	display: flex;

	align-items: center;
	justify-content: center;
}
.ul-bottom {
	// border: pink 2px solid;
	width: 100%;
	display: flex;

	align-items: center;
	justify-content: center;
}
.ul-bottom li a {
	color: #70757a;
	font-size: 1.4rem;
}
.ul-bottom li:nth-child(1) {
	margin-left: 1%;
}
.ul-bottom li:nth-child(4) {
	margin-left: auto;
}
.ul-bottom li:nth-child(6) {
	margin-left: auto;
}
.ul-bottom li img {
	width: 12.25px;
}
